
<!-- Slider -->

<div class="container">
  <div class="slider-section">
    <div class="slider-intro">
      <div class="the-slideshow slideshow-wrapper">
        <ul class="slideshow" style="overflow: hidden;">
          <li class="slide">
            <p>
              <a href="#"> <img src="/assets/p11.jpg" width="100%" height="500vh" alt="Banner Image1" />
              </a>
            </p>
            <div class="caption light1 top-right">
              <div class="caption-inner">
                <h2 class="heading">LED Grow Lights</h2>
                <p class="heading1">Looking for a high quality L.E.D. grow light at an affordable price online? Then you’re in luck, because Bud Grow Kits is your source for LED’s. </p>
                <p class="intro-btn"><a href="<%=subcategory_path(1)%>" data-no-turbolink = true>Buy Now</a>)

                </p>
              </div>
            </div>
          </li>
          <li class="slide">
            <p>
              <a title="#" href="#"> <img src="/assets/climate_control.jpeg" width="100%" height="500vh" alt="Banner Image" /> </a>
            </p>
            <div class="caption light1 top-right">
              <div class="caption-inner">
                <p class="heading">Climate Control</p>
                <p class="heading1">Affordable high quality climate control systems. Bud Grow Kits provides the best climate control systems on the market.</p>
                <p class="intro-btn"><a href="<%=subcategory_path(23)%>" data-no-turbolink = true>Buy Now</a>
                </p>
              </div>
            </div>
          </li>
          <li class="slide">
            <p>
              <a href="#"> <img src="http://tecorb.com/admin/growace/images/YC-TENT-1186078_1.jpg" width="100%"  alt="Banner Image" />  <!-- /assets/p16.jpg -->
              </a>
            </p>
            <div class="caption light1 top-right">
              <div class="caption-inner">
                <p class="heading">Grow Tents</p>
                <p class="heading1"> Bud Grow Kits has quality grow tents in every size. We provide both large and small reflective grow tents at competitive prices.</p>
                <p class="intro-btn"><a href="<%=package_products_path(7)%>" data-no-turbolink = true>Shop Now</a>
                </p>
              </div>
            </div>
          </li>
        </ul>
        <a id="home-slides-prev" class="backward browse-button" href="#">previous</a> <a id="home-slides-next" class="forward browse-button" href="#">next</a>
        <div id="home-slides-pager" class="tab-pager tab-pager-img tab-pager-ring-lgray">&nbsp;</div>
      </div>
    </div>
    <div class="cat-block pro-block">
      <div class="pro1-block">
        <ul class="top-cat-box">
          <%categories.first(4).each do |c|%>
          <li>
          
            <div><img src="/assets/climate.png" />
            </div>
            <h2><%=c.name%></h2>
            <%if c.name=="Grow Lights"%>
              <a href="<%=subcategory_path(1)%>" data-no-turbolink = true>Buy Now</a>
            <%elsif c.name=="Growing Essentials"%>
              <a href="<%=subcategory_path(10)%>" data-no-turbolink = true>Buy Now</a>
            <%elsif c.name=="Climate Control"%>
              <a href="<%=subcategory_path(23)%>" data-no-turbolink = true>Buy Now</a>
            <%elsif c.name=="Nutrients"%>
              <a href="<%=subcategory_path(30)%>" data-no-turbolink = true>Buy Now</a>
            <%else%>
              <a href="#" data-no-turbolink = true>Buy Now</a>
            <%end%>
              
              
          </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- end Slider -->
<!-- offer banner section -->
<div class="offer-banner-section">
  <div class="container">
    <div class="row">
      <div class="newsletter-wrap">
        <div class="newsletter">
          <form action="#" id="newsletter-validate-detail">
            <div>
              <h5><span>Bud Grow Kits newsletter</span></h5>
              <input type="text" name="email" id="newsletter1" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Enter your email address">
              <button type="submit" title="Subscribe" class="subscribe"><span>Subscribe</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end banner section -->
<div class="service-section">
  <div class="container">
    <div class="row">
      <div id="store-messages">
        <div class="col-md-4 col-xs-12 col-sm-4"><i class="icon-refresh">&nbsp;</i>
          <div class="message"> <span><strong>Return &amp; Exchange</strong> in 3 working days </span>Lorem ipsum dolor sit amet, consectetur adipiscing. </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4"><i class="icon-truck">&nbsp;</i>
          <div class="message"><span><strong>Free Shipping</strong> order over $99</span>Lorem ipsum dolor sit amet, consectetur adipiscing. </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4"><i class="icon-discount">&nbsp;</i>
          <div class="message"><span><strong>50% Off</strong> on all products</span>Lorem ipsum dolor sit amet, consectetur adipiscing. </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main container -->
<section class="main-container col1-layout home-content-container">
  <div class="container">
    <div class="std">
      <div class="best-seller-pro wow bounceInUp animated">
        <div class="slider-items-products">
          <div class="new_title center">
            <h2>Best Seller</h2>
          </div>
          <div id="best-seller-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4">
              <%@product.each do |p|%>
                <div class="item border">
                  <div class="item-inner">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="<%=product_path(p.id)%>" data-no-turbolink = true>
                          <figure class="product-display">
                            <div class="sale-label sale-top-left">Sale</div>
                            <img src="<%=product_image(p,1)%>"  onerror="this.src='/assets/image-not-found.jpg'" class="lazyOwl product-mainpic" alt="product-image" style="display: block;"> <img class="product-secondpic" alt="product-image"  onerror="this.src='/assets/image-not-found.jpg'" src="<%=product_image(p,2)%>"> </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action">
                          <a class="addcart" href="#"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="#"> <i class="icon-heart">&nbsp;</i> </a>
                          <a href="#" class="quickview"> <i class="icon-zoom">&nbsp;</i> </a>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <a href="#" title="Retis lapen casen"> <%=p.name%></a> </div>
                        <div class="item-content">
                          <div class="item-price">
                            <div class="price-box"> 
                              <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > <%=p.list_price%> </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > <%=p.list_price%> </span> </p>
                            </div>
                          </div>
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating" style="width:80%"></div>
                              </div>
                              <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <!-- Featured Slider -->
      <div class="featured-pro">
        <div class="slider-items-products">
          <div class="title col-lg-6">
            <div class="new_title center">
              <h2><span>Featured Products</span></h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra tristique eros dignissim venenatis. Nam et dolor id arcu efficitur tincidunt quis non nisi. Duis commodo pellentesque quam, id mollis ligula dictum id. Morbi cursus consectetur magna a egestas. Sed eu sagittis leo. Mauris euismod dapibus nisl, at euismod nunc commodo vel. Nulla semper non nisi in placerat. Aenean at nisl eu odio ullamcorper varius non ac ante. Quisque dictum, felis lobortis faucibus ornare, enim mi mollis ex, ac vestibulum neque nibh at nisi. </p>
            <a title="Subscribe" class="view-all" href="#"><span>View All Products</span></a> </div>
          <div id="featured-slider" class="product-flexslider hidden-buttons col-lg-6">
            <div class="slider-items slider-width-col4">
              <%@product2.each do |p|%>
                <div class="item border">
                  <div class="item-inner">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="<%=product_path(p.id)%>" data-no-turbolink = true>
                          <figure class="product-display">
                            <div class="sale-label sale-top-left">Sale</div>
                            <img src="<%=product_image(p,1)%>" onerror="this.src='/assets/image-not-found.jpg'" class="lazyOwl product-mainpic" alt="product-image" style="display: block;"> <img class="product-secondpic" onerror="this.src='/assets/image-not-found.jpg'" alt="product-image" src="<%=product_image(p,2)%>"> </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action">
                          <a class="addcart" href="#"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="#"> <i class="icon-heart">&nbsp;</i> </a>
                          <a href="#" class="quickview"> <i class="icon-zoom">&nbsp;</i> </a>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <a href="#" title="Retis lapen casen"> <%=p.name%></a> </div>
                        <div class="item-content">
                          <div class="item-price">
                            <div class="price-box"> 
                              <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > <%=p.list_price%> </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > <%=p.list_price%> </span> </p>
                            </div>
                          </div>
                          <div class="rating">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating" style="width:80%"></div>
                              </div>
                              <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <!-- End Featured Slider -->
    </div>
  </div>
</section>
<!-- End main container -->
<!-- Latest Blog -->
<section class="latest-blog container">
  <div class="blog_post">
    <div class="blog-title">
      <h2><span>Latest Videos Section</span></h2>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="blog-img"> <img src="http://digitaldeepak.com/wp-content/uploads/2015/04/digital-deepak-top-10-marketing-blogs-550x217.png" alt="blog image">
        <div class="mask"> <a class="info" href="#">Read More</a> </div>
      </div>
      <h2><a href="#">Pellentesque habitant morbi</a> </h2>
      <div class="post-date"><i class="icon-calendar"></i> Apr 10, 2014</div>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sit ... </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="blog-img"> <img src="http://blogs.plos.org/wp-content/uploads/2015/10/s2.png" alt="blog image">
        <div class="mask"> <a class="info" href="#">Read More</a> </div>
      </div>
      <h2><a href="#">Pellentesque habitant morbi</a> </h2>
      <div class="post-date"><i class="icon-calendar"></i> Apr 10, 2014</div>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sit ... </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="blog-img"> <img src="http://farm4.static.flickr.com/3082/3199175512_7d4d7a0858_o.png" alt="blog image">
        <div class="mask"> <a class="info" href="#">Read More</a> </div>
      </div>
      <h2><a href="#">Pellentesque habitant morbi</a> </h2>
      <div class="post-date"><i class="icon-calendar"></i> Apr 10, 2014</div>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sit ... </p>
    </div>
  </div>
</section>
<!-- End Latest Blog -->

<!-- JavaScript -->

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function() {
    jQuery(".slideshow").cycle({
      fx: 'scrollHorz',
      easing: 'easeInOutCubic',
      timeout: 10000,
      speedOut: 800,
      speedIn: 800,
      sync: 1,
      pause: 1,
      fit: 0,
      pager: '#home-slides-pager',
      prev: '#home-slides-prev',
      next: '#home-slides-next'
    });

    //]]>

  });

</script>