<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <ul>
        <li class="home"> <a href="index.html" title="Go to Home Page">Home</a><span>&raquo;</span></li>
        <li class=""> <a href="grid.html" title="Go to Home Page">Categories</a><span>&raquo;</span></li>
        <li class="category13"><strong><%=@category.name%></strong></li>
      </ul>
    </div>
  </div>
</div>
<!-- End breadcrumbs --> 
<!-- Two columns content -->
<div class="main-container col2-left-layout">
  <div class="main container">
    <div class="row">
      <section class="col-sm-9 col-sm-push-3">
        <div class="col-main">
          <div class="category-title">
            <h1><%=@category.name%></h1>
          </div>
          <div class="category-description std">
            <div class="slider-items-products">
              <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col1">
                  <!-- Item -->
                  <div class="item">
                    <a href="#x"><img alt="women_banner" src="/assets/women_banner.png"></a>
                    <div class="cat-img-title cat-bg cat-box">
                      <h2 class="cat-heading">Category Banner</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                  <!-- End Item --> 
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img alt="women_banner" src="/assets/women_banner.png"></a> </div>
                  <!-- End Item --> 
                </div>
              </div>
            </div>
          </div>
          <div class="category-products">
            <div class="toolbar">
              <div class="sorter">
                <div class="view-mode"> <span title="Grid" class="button button-active button-grid">Grid</span><a href="list.html" title="List" class="button button-list">List</a> </div>
              </div>
              <div id="sort-by">
                <label class="left">Sort By: </label>
                <ul>
                  <li>
                    <a href="#">Position<span class="right-arrow"></span></a>
                    <ul>
                      <li><a href="#">Name</a></li>
                      <li><a href="#">Price</a></li>
                      <li><a href="#">Position</a></li>
                    </ul>
                  </li>
                </ul>
                <a class="button-asc left" href="#" title="Set Descending Direction"><span style="color:#999;font-size:11px;" class="glyphicon glyphicon-arrow-up"></span></a> 
              </div>
              <div class="pager">
                <div id="limiter">
                  <label>View: </label>
                  <ul>
                    <li>
                      <a href="#">15<span class="right-arrow"></span></a>
                      <ul>
                        <li><a href="#">20</a></li>
                        <li><a href="#">30</a></li>
                        <li><a href="#">35</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="pages">
                  <label>Page:</label>
                  <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="products-grid">
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="sale-label sale-top-left">Sale</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt="Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Retis lapen casen"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price" > <span class="price">$125.00</span> </span> </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="product_detail.html">
                          <figure class="product-display">
                            <div class="new-label new-top-left">New</div>
                            <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                          </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                          <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Ut tincidunt tortor"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $456.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:50%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="product_detail.html">
                          <figure class="product-display">
                            <div class="sale-label new-top-right">Sale</div>
                            <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                          </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                          <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Ut tincidunt tortor"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $456.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="new-label new-top-left">New</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Stablished fact reader"> Sample Product </a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $100.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $90.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:0%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="sale-label sale-top-left">Sale</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Retis lapen casen"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price" > <span class="price">$125.00</span> </span> </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="product_detail.html">
                          <figure class="product-display">
                            <div class="new-label new-top-left">New</div>
                            <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                          </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                          <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Ut tincidunt tortor"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $456.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:50%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="product_detail.html">
                          <figure class="product-display">
                            <div class="new-label new-top-left">New</div>
                            <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                          </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                          <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Ut tincidunt tortor"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $456.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="new-label new-top-left">New</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Stablished fact reader"> Sample Product </a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $100.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $90.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:0%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="new-label new-top-left">New</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Stablished fact reader"> Sample Product </a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $100.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $90.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:0%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="sale-label sale-top-left">Sale</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Retis lapen casen"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price" > <span class="price">$125.00</span> </span> </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="product_detail.html">
                          <figure class="product-display">
                            <div class="new-label new-top-left">New</div>
                            <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                          </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                          <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Ut tincidunt tortor"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $456.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:50%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="product_detail.html">
                          <figure class="product-display">
                            <div class="sale-label new-top-right">Sale</div>
                            <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                          </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                          <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Ut tincidunt tortor"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $456.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="new-label new-top-left">New</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Stablished fact reader"> Sample Product </a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $100.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $90.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:0%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="sale-label sale-top-left">Sale</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Retis lapen casen"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price" > <span class="price">$125.00</span> </span> </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="product_detail.html">
                          <figure class="product-display">
                            <div class="new-label new-top-left">New</div>
                            <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                          </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                          <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Ut tincidunt tortor"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $456.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:50%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="product-block">
                      <div class="product-image">
                        <a href="product_detail.html">
                          <figure class="product-display">
                            <div class="new-label new-top-left">New</div>
                            <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                          </figure>
                        </a>
                      </div>
                      <div class="product-meta">
                        <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                          <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                          <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Ut tincidunt tortor"> Sample Product</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $456.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="new-label new-top-left">New</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Stablished fact reader"> Sample Product </a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $100.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $90.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:0%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                <div class="item-inner">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="product_detail.html">
                        <figure class="product-display">
                          <div class="new-label new-top-left">New</div>
                          <img src="/assets/product1.jpg" class="lazyOwl product-mainpic" alt=" Sample Product" style="display: block;"> <img class="product-secondpic" alt=" Sample Product" src="/assets/product1.jpg"> 
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action"> <a class="addcart" href="shopping_cart.html"> <i class="icon-shopping-cart">&nbsp;</i> Add to cart </a>
                        <a class="wishlist" href="wishlist.html"> <i class="icon-heart">&nbsp;</i> </a>
                        <a class="quickview" href="javascript:;"> <i class="icon-zoom">&nbsp;</i> </a> 
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a href="product_detail.html" title="Stablished fact reader"> Sample Product </a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" > $100.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" > $90.00 </span> </p>
                          </div>
                        </div>
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:0%"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
        <div class="side-nav-categories">
          <div class="block-title"> Categories </div>
          <div class="box-content box-category">
            <ul id="magicat">
              <%categories.each do |c|%>
                <%c.id==@category.id ? @active="active" : @active=""%>
                <li class="level0- level0 open <%=@active%>">
                  <span class="magicat-cat">
                    <a href="#"><span><%=c.name%></span></a>
                  </span>
                  <ul <%if @active=="active"%>style="display: block;" <%else%> style="display: none;" <%end%>>
                    <%@c1=0%>
                    <%c.subcategories.each do |sc|%>
                      <%@c1+=1%>
                      <%@c1==1 ? @first="first" : @first=""%>
                      <li class="<%=@first%> level1- level1 open">
                        <span class="magicat-cat"><a href="#new-in.html"><span><%=sc.name%></span></a></span>
                        <%sc.products.each do |p|%>
                        <!-- <ul style="display: none;">
                          <li class="first level2- level2"> <span class="magicat-cat"><a href="#clothing.html"><span>Clothing</span></a></span> </li>
                          <li class="level2- level2"> <span class="magicat-cat"><a href="#shoes.html"><span>shoes</span></a></span> </li>
                          <li class="level2- level2"> <span class="magicat-cat"><a href="#bags.html"><span>Bags</span></a></span> </li>
                          <li class="last level2- level2"> <span class="magicat-cat"><a href="#watches.html"><span>Watches</span></a></span> </li>
                        </ul> -->
                        <%end%>
                      </li>
                    <%end%>
                  </ul>
                </li>
              <%end%>
             <!--  <li class="level0- level0 open">
                <span class="magicat-cat"><a href="#fashion.html"><span>Women</span></a></span>
                <ul style="display: none;">
                  <li class="first level1- level1 open">
                    <span class="magicat-cat"><a href="#new-in.html"><span>New In</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#clothing.html"><span>Clothing</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#shoes.html"><span>shoes</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#bags.html"><span>Bags</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#watches.html"><span>Watches</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="level1- level1 open">
                    <span class="magicat-cat"><a href="#formal-wear.html"><span>formal-wear</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#thorts-and-skirts.html"><span>Thorts &amp; Skirts</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#leggings-jeggings.html"><span>Leggings &amp; Jeggings</span></a></span> </li>
                      <li class="level2- level2 "> <span class="magicat-cat"><a href="#caps-scarves-stoles.html"><span>Caps,Scarves &amp; stoles</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#socks-stockings.html"><span>Socks &amp; Stockings</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="level1- level1 open">
                    <span class="magicat-cat"><a href="#jackets-blazers.html"><span>jackets-blazers</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#sweaters.html"><span>Sweaters</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#sweat-shirts.html"><span>Sweat Shirts</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#look-leather.html"><span>Look Leather</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#denim.html"><span>Denim</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="level1- level1  open">
                    <span class="magicat-cat"><a href="#lingerie-sleepwear.html"><span>lingerie-sleepwear</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#bridal-lingerie.html"><span>Bridal Lingerie</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#babydolls.html"><span>Babydolls</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#bustiers.html"><span>Bustiers</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#panties.html"><span>Panties</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="level1- level1 open">
                    <span class="magicat-cat"><a href="#ethnic-wear.html"><span>ETHNIC WEAR</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#suits-sets.html"><span>Suits Sets</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#dress-material.html"><span>Dress Material</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#sweatshirts.html"><span>Sweatshirts</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#gloves.html"><span>Gloves</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="level1- level1 open">
                    <span class="magicat-cat"><a href="#new-this-week.html"><span>New This Week</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#new-this-week/clothing.html"><span>Clothing</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#new-this-week/footwear.html"><span>Footwear</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#new-this-week/accessories.html"><span>Accessories</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#new-this-week/sandals.html"><span>Sandals</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="level1- level1 open">
                    <span class="magicat-cat"><a href="#shop-by-size.html"><span>Shop By Size</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#beauty.html"><span>Beauty</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#hair-body-care.html"><span>Hair &amp; Body-Care</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#brand-stores.html"><span>Brand Stores</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#sisley.html"><span>Sisley</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="last level1- level1 open">
                    <span class="magicat-cat"><a href="#girls-apparel.html"><span>Girls Apparel</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#frocks.html"><span>Frocks</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#tops-t-shirts.html"><span>Tops &amp; T-shirts</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#bottomwear.html"><span>Bottomwear</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#sweaters.html"><span>Sweaters</span></a></span> </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="level0- level0"> <span class="magicat-cat"><a href="#electronics.html"><span>Men</span></a></span> 
              </li>
              <li class="level0- level0  shoes"> <span class="magicat-cat"><a href="#shoes.html"><span>Shoes</span></a></span> </li>
              <li class="level0- level0  watches open">
                <span class="magicat-cat"><a href="#watches.html"><span>Watches</span></a></span>
                <ul style="display: none;">
                  <li class="first level1- level1 open">
                    <span class="magicat-cat"><a href="#designers.html"><span>Designers</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#calvin-klein.html"><span>Calvin Klein</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#emporio-armani.html"><span>Emporio Armani</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#french-connection.html"><span>French Connection</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#hush-puppies.html"><span>Hush Puppies</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="level1- level1 open">
                    <span class="magicat-cat"><a href="#style.html"><span>Style</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#alba.html"><span>Alba</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#kenneth-cole.html"><span>Kenneth Cole</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#morellato.html"><span>Morellato</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#timex-premium.html"><span>Timex Premium</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="level1- level1  open">
                    <span class="magicat-cat"><a href="#specification.html"><span>Specification</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#just-cavalli.html"><span>Just Cavalli</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#pierre-cardin.html"><span>Pierre Cardin</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#rotary.html"><span>Rotary</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#silitalia.html"><span>Silitalia</span></a></span> </li>
                    </ul>
                  </li>
                  <li class="last level1- level1  open">
                    <span class="magicat-cat"><a href="#most-popular-brands.html"><span>Most Popular Brands</span></a></span>
                    <ul style="display: none;">
                      <li class="first level2- level2"> <span class="magicat-cat"><a href="#most-popular-brands/citizen.html"><span>Citizen</span></a></span> </li>
                      <li class="level2- level2l"> <span class="magicat-cat"><a href="#most-popular-brands/diesel.html"><span>Diesel</span></a></span> </li>
                      <li class="level2- level2"> <span class="magicat-cat"><a href="#most-popular-brands/dkny.html"><span>DKNY</span></a></span> </li>
                      <li class="last level2- level2"> <span class="magicat-cat"><a href="#most-popular-brands/esprit.html"><span>Esprit</span></a></span> </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="level0- level0 last"> <span class="magicat-cat"><a href="#furniture.html"><span>Furniture</span></a></span> </li> -->
            </ul>
          </div>
        </div>
        <div class="block block-layered-nav">
          <div class="block-title">Shop By</div>
          <div class="block-content">
            <p class="block-subtitle">Shopping Options</p>
            <dl id="narrow-by-list">
              <dt class="odd">Price</dt>
              <dd class="odd">
                <ol>
                  <li> <a href="#"><span class="price">$0.00</span> - <span class="price">$99.99</span></a> (6) </li>
                  <li> <a href="#"><span class="price">$100.00</span> and above</a> (6) </li>
                </ol>
              </dd>
              <dt class="even">Manufacturer</dt>
              <dd class="even">
                <ol>
                  <li> <a href="#">TheBrand</a> (9) </li>
                  <li> <a href="#">Company</a> (4) </li>
                  <li> <a href="#">LogoFashion</a> (1) </li>
                </ol>
              </dd>
              <dt class="odd">Color</dt>
              <dd class="odd">
                <ol>
                  <li> <a href="#">Green</a> (1) </li>
                  <li> <a href="#">White</a> (5) </li>
                  <li> <a href="#">Black</a> (5) </li>
                  <li> <a href="#">Gray</a> (4) </li>
                  <li> <a href="#">Dark Gray</a> (3) </li>
                  <li> <a href="#">Blue</a> (1) </li>
                </ol>
              </dd>
              <dt class="last even">Size</dt>
              <dd class="last even">
                <ol>
                  <li> <a href="#">S</a> (6) </li>
                  <li> <a href="#">M</a> (6) </li>
                  <li> <a href="#">L</a> (4) </li>
                  <li> <a href="#">XL</a> (4) </li>
                </ol>
              </dd>
            </dl>
          </div>
        </div>
        <div class="block block-cart">
          <div class="block-title ">My Cart</div>
          <div class="block-content">
            <div class="summary">
              <p class="amount">There are <a href="#">2 items</a> in your cart.</p>
              <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">$27.99</span> </p>
            </div>
            <div class="ajax-checkout">
              <button type="submit" title="Submit" class="button button-checkout"><span>Checkout</span></button>
            </div>
            <p class="block-subtitle">Recently added item(s) </p>
            <ul>
              <li class="item">
                <a class="product-image" title="Fisher-Price Bubble Mower" href="product_detail.html"><img width="80" alt="product-image" src="/assets/product1.jpg"></a>
                <div class="product-details">
                  <div class="access"> <a class="btn-remove1" title="Remove This Item" href="#"> <span class="icon"></span> Remove </a> </div>
                  <p class="product-name"> <a href="product_detail.html">Sample Product</a> </p>
                  <strong>1</strong> x <span class="price">$19.99</span> 
                </div>
              </li>
              <li class="item last">
                <a class="product-image" title="Prince Lionheart Jumbo Toy Hammock" href="product_detail.html"><img width="80" alt="product-image" src="/assets/product1.jpg"></a>
                <div class="product-details">
                  <div class="access"> <a class="btn-remove1" title="Remove This Item" href="#"> <span class="icon"></span> Remove </a> </div>
                  <p class="product-name"> <a href="product_detail.html"> Sample Product</a> </p>
                  <strong>1</strong> x <span class="price">$8.00</span> 
                  <!--access clearfix--> 
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="block block-subscribe">
          <div class="block-title">Newsletter</div>
          <form id="newsletter-validate-detail" method="post" action="http://www.magikcommerce.com//newsletter/subscriber/new/">
            <div class="block-content">
              <div class="form-subscribe-header"> Sign up for our newsletter:</div>
              <input type="text" placeholder="Enter your email address" class="input-text required-entry validate-email" title="" id="newsletter" name="email">
              <div class="actions">
                <button class="button button-subscribe" title="Submit" type="submit"><span>Subscribe</span></button>
              </div>
            </div>
          </form>
        </div>
        <div class="block block-compare">
          <div class="block-title ">Compare Products (2)</div>
          <div class="block-content">
            <ol id="compare-items">
              <li class="item odd">
                <input type="hidden" class="compare-item-id" value="2173">
                <a href="#" title="Remove This Item" class="btn-remove1"></a> <a class="product-name" href="#"> Sofa with Box-Edge Polyester Wrapped Cushions</a> 
              </li>
              <li class="item last even">
                <input type="hidden" class="compare-item-id" value="2174">
                <a href="#" title="Remove This Item" class="btn-remove1"></a> <a class="product-name" href="#"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a> 
              </li>
            </ol>
            <div class="ajax-checkout">
              <button class="button button-compare" title="Submit" type="submit"><span>Compare</span></button>
              <button class="button button-clear" title="Submit" type="submit"><span>Clear</span></button>
            </div>
          </div>
        </div>
        <div class="block block-list block-viewed">
          <div class="block-title"> Recently Viewed </div>
          <div class="block-content">
            <ol id="recently-viewed-items">
              <li class="item odd">
                <p class="product-name"><a href="#"> Armchair with Box-Edge Upholstered Arm</a></p>
              </li>
              <li class="item even">
                <p class="product-name"><a href="#"> Pearce Upholstered Slee pere</a></p>
              </li>
              <li class="item last odd">
                <p class="product-name"><a href="#"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a></p>
              </li>
            </ol>
          </div>
        </div>
        <div class="block block-poll">
          <div class="block-title">Community Poll </div>
          <form onSubmit="return validatePollAnswerIsSelected();" method="post" action="#" id="pollForm">
            <div class="block-content">
              <p class="block-subtitle">What is your favorite Magento feature?</p>
              <ul id="poll-answers">
                <li class="odd">
                  <input type="radio" value="5" id="vote_5" class="radio poll_vote" name="vote">
                  <span class="label">
                  <label for="vote_5">Layered Navigation</label>
                  </span> 
                </li>
                <li class="even">
                  <input type="radio" value="6" id="vote_6" class="radio poll_vote" name="vote">
                  <span class="label">
                  <label for="vote_6">Price Rules</label>
                  </span> 
                </li>
                <li class="odd">
                  <input type="radio" value="7" id="vote_7" class="radio poll_vote" name="vote">
                  <span class="label">
                  <label for="vote_7">Category Management</label>
                  </span> 
                </li>
                <li class="last even">
                  <input type="radio" value="8" id="vote_8" class="radio poll_vote" name="vote">
                  <span class="label">
                  <label for="vote_8">Compare Products</label>
                  </span> 
                </li>
              </ul>
              <div class="actions">
                <button class="button button-vote" title="Vote" type="submit"><span>Vote</span></button>
              </div>
            </div>
          </form>
        </div>
        <div class="block block-tags">
          <div class="block-title"> Popular Tags</div>
          <div class="block-content">
            <ul class="tags-list">
              <li><a style="font-size:98.3333333333%;" href="#tagId/23/">Camera</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/109/">Hohoho</a></li>
              <li><a style="font-size:145%;" href="#tagId/27/">SEXY</a></li>
              <li><a style="font-size:75%;" href="#tagId/61/">Tag</a></li>
              <li><a style="font-size:110%;" href="#tagId/29/">Test</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/17/">bones</a></li>
              <li><a style="font-size:110%;" href="#tagId/12/">cool</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/184/">cool t-shirt</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/173/">crap</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/41/">good</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/16/">green</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/5/">hip</a></li>
              <li><a style="font-size:75%;" href="#tagId/51/">laptop</a></li>
              <li><a style="font-size:75%;" href="#tagId/20/">mobile</a></li>
              <li><a style="font-size:75%;" href="#tagId/70/">nice</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/42/">phone</a></li>
              <li><a style="font-size:98.3333333333%;" href="#tagId/30/">red</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/28/">tight</a></li>
              <li><a style="font-size:75%;" href="#tagId/2/">trendy</a></li>
              <li><a style="font-size:86.6666666667%;" href="#tagId/4/">young</a></li>
            </ul>
            <div class="actions"> <a class="view-all" href="#">View All Tags</a> </div>
          </div>
        </div>
        <div class="block block-banner"><a href="#"><img src="/assets/block-banner.png" alt="block-banner"></a></div>
      </aside>
    </div>
  </div>
</div>
<!-- End Two columns content -->
